<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading" i18n>Learn with fun.</h1>
    <p class="lead text-muted" i18n></p>
    <p i18n>
      Enter the world of physics, mathematics and astronomy. And all this with the addition of fun and competition online.
    </p>
    <a routerLink="/game/create" class="btn btn-dark my-2 mr-1" *ngIf="isLogged" i18n>
      Get started
    </a>
    <a href="https://www.facebook.com/Copernicus-624173501379268" target="_blank" class="btn btn-primary my-2" i18n>
      <i class="fab fa-facebook-square"></i> Share with friends
    </a>
  </div>
</section>

<div class="blog-post">
  <h2 class="blog-post-title" i18n>About us</h2>
  <p class="blog-post-meta">May 5, 2019 by <a href="#">Admin</a></p>
  <p i18n>
    Copernicus is quiz-based multiplayer, online game, totally free for everyone, no-ads, only valuable content. Here
    you can play, learn, compete in classroom or with peoples from entire world. Quiz is based on questions of topics from
    astronomy, physics, mathematics and strict Nicklaus Copernicus and his whole live, arts.
  </p>
</div>
