<form class="mb-4" [formGroup]="form" (submit)="submit()">
  <div class="form-group">
    <label>Question</label>
    <input type="text" class="form-control" formControlName="query" placeholder="How are you?">
  </div>
  <h5>Translations</h5>
  <div formGroupName="translations">
    <div class="form-group">
      <label>PL</label>
      <textarea class="form-control" formControlName="PL" rows="1"></textarea>
    </div>
    <div class="form-group">
      <label>EN</label>
      <textarea class="form-control" formControlName="EN" rows="1"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label>Image</label>
    <input type="text" class="form-control" formControlName="image" placeholder="Url">
  </div>
  <div class="form-group">
    <label>Time</label>
    <select class="form-control" formControlName="time">
      <option [value]="0" selected>0s</option>
      <option [value]="10000">10s</option>
      <option [value]="15000">15s</option>
      <option [value]="30000">30s</option>
      <option [value]="45000">45s</option>
    </select>
  </div>
  <hr>
  <div class="section-title">
    Choices:
    <button class="btn btn-icon btn-sm btn-success" type="button" (click)="addChoice()"
      [disabled]="choices.controls.length > 6">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div formArrayName="choices">
    <div *ngFor="let choice of choices.controls; index as i">
      <h4>#{{ i + 1 }}</h4>
      <div [formGroupName]="i">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input formControlName="isCorrect" type="checkbox">
            </div>
          </div>
          <input type="text" class="form-control" formControlName="answer">
          <div class="input-group-append">
            <button class="btn btn-icon btn-sm btn-danger" type="button" (click)="removeChoice(i)">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <h5>Translations</h5>
        <div formGroupName="translations">
          <div class="form-group">
            <label>PL</label>
            <textarea class="form-control" formControlName="PL" rows="1"></textarea>
          </div>
          <div class="form-group">
            <label>EN</label>
            <textarea class="form-control" formControlName="EN" rows="1"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-success" type="submit" [disabled]="!valid">Create</button>
  </div>
</form>
